*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

body{
    background-image: url(/src/assets/img/gradient-1773691875311.svg);
    background-size: cover;
    font-family: $fuente;
    background-attachment: fixed;
}