.button-home-1{
    position:relative;
    background: #70E000;
    background: radial-gradient(circle, rgba(112, 224, 0, 1) 0%, rgba(158, 240, 26, 1) 52%, rgba(204, 255, 51, 1) 100%);
    min-width: auto;
    max-width: 300px;  
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: greenyellow solid 2px;
    border-radius: 10px;
    padding: 5px 15px;
    gap: 10px;
    outline: none;
    transition: transform 0.6s cubic-bezier(0.4,0,0.2,1);
    span{
        align-self: center;
    }
    .svg-arrow{
        transition: transform 0.6s cubic-bezier(0.4,0,0.2,1);
    }
}

.button-home-1::before{
    content:"";
    background: linear-gradient(247deg,rgba(158, 240, 26, 1) 0%, rgba(233, 255, 173, 1) 53%, rgba(204, 255, 51, 1) 100%);
    position: absolute;
    top:-2px;
    left:-2px;
    background-size: 600%;
    z-index:-1;
    width:calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    opacity:1;
    animation: glowing 20s linear infinite;
}

.button-home-1:hover{
    border: greenyellow solid 2px;
    transform: scale(1.05);
    box-shadow: none;
    .svg-arrow{
        transform: translateX(5px);
        transition: transform 0.3s ease;
    }
}


.ant-btn2{
    margin-top: 2.5rem;
    background-color: #383d42;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    font-family: Helvetica, sans-serif; 
    width: 18.75rem;
    height: 2.5rem;
    justify-self: center;
}