.form-container {
    padding: 1.25rem;
    display: flex;
    width: 500px;
    justify-content: center;
    background-color: #ffffff; 
    border-radius: 1.25rem;
    margin: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff; 
    padding: 2.5rem;
    width: 100%;
    max-width: 500px; 
    border-radius: 4px;
    gap: 1.5rem;
    textarea{
        resize: none;
    }
}

.contact-form label {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    color: #444;
    align-self: flex-start; 
    margin-bottom: -0.5rem;
}

input[type="text"], 
input[type="email"], 
select,
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 0.95rem;
    transition: border-color 0.2s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #000; 
}

.package-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.8rem;
    width: 100%;
    margin: 1rem 0;
}

.package-group-2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sent-button {
    background-color: #111; 
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 100%; 
    border-radius: 50px; 
    transition: all 0.3s ease;
    align-self: center;
}

.sent-button:hover {
    background-color: #333;
    transform: translateY(-2px);
}