.nav-container{
    background-color: tomato;
    color: #fff;
    border-radius: 1.875rem;
    margin: 1.25rem auto;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    margin: 0;
    padding: 0.625rem;
    width: 100%;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 0.925rem;
    font-weight: 500;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;
}

