.nav-container{
    color: #fff;
    border-radius: 1.875rem;
    margin: 1.25rem auto;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: 0;
    padding: 0.625rem;
    width: 100%;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;
}

.carrito-img{
    width: 30px;
}


.nav-link {
  text-decoration: none;
  color: #fff;
  position: relative; /* Necesario para posicionar la línea */
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

/* Creamos la línea invisible al inicio */
.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Grosor de la "línea de carga" */
  bottom: 0;
  left: 0;
  background-color: #ffffff; /* Color de la línea */
  
  /* Estado inicial: escala 0 (invisible) desde la izquierda */
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

/* El efecto al pasar el mouse */
.nav-link:hover::after {
  transform: scaleX(1); /* La línea se expande al 100% */
}

/* Opcional: un cambio de opacidad suave al texto */
.nav-link:hover {
  color: #ccc; 
}
