@import "./sass/utilities/variables";
@import "./sass/utilities/mixins";
@import "./sass/utilities/funciones";

@import "./sass/base/reset";
@import "./sass/layout/main";
@import "./sass/components/navbar";